p{
    font-family: Arial;
}

#titulo-principal{
    color: rgb(0, 0, 126);
}
.destaque{
    background-color: yellow;
}
input[type="password"]{
    border: 5px solid blue;
}
.importante{
    color: red;
}
.container > div:first-of-type > p{
    color: violet;
}
.botao{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    padding: 5px 10px;
    font-weight: bolder;
}
.botao:hover{
    background-color: rgb(244, 171, 2);
    color: white;
   
}
p::first-letter{
    font-size: 1.3em;
}
li:first-of-type{
    font-weight: bold;
}