

#titulo-principal{
    color: rgb(0, 0, 126);
}
.importante{
    color: red;
}
.botao{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    padding: 5px 10px;
    font-weight: bolder;
}
.botao:hover{
    background-color: rgb(244, 171, 2);
    color: white;
   
}
p::first-letter{
    font-size: 1.3em;
}